/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0f172a;
    color: white;
    line-height: 1.6;
}

/* HERO */

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

    min-height: 100vh;

    padding: 40px;
    flex-wrap: wrap;
}

/* FOTO */

.foto img{
    width: 250px;
    height: 250px;

    object-fit: cover;

    border-radius: 50%;

    border: 5px solid #38bdf8;

    box-shadow: 0 0 25px #38bdf8;
}

/* TEXTO */

.texto-header{
    max-width: 500px;
}

.texto-header h1{
    font-size: 3rem;
    margin-bottom: 10px;
}

.subtitulo{
    color: #38bdf8;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.descricao{
    margin-bottom: 25px;
}

/* BOTÃO */

.botao{
    display: inline-block;

    background-color: #38bdf8;
    color: black;

    padding: 12px 25px;

    border-radius: 10px;

    text-decoration: none;
    font-weight: bold;

    transition: 0.3s;
}

.botao:hover{
    background-color: white;
}

/* SEÇÕES */

.secao{
    padding: 70px 10%;
}

.secao h2{
    font-size: 2rem;
    margin-bottom: 20px;

    color: #38bdf8;
}

/* PROJETOS */

.projetos{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

/* CARDS */

.card{
    background-color: #1e293b;

    padding: 25px;

    border-radius: 15px;

    flex: 1;
    min-width: 250px;

    transition: 0.3s;
}

.card:hover{
    transform: translateY(-10px);

    box-shadow: 0 0 15px #38bdf8;
}

.card h3{
    margin-bottom: 10px;
}

/* LINKS */

a{
    color: #38bdf8;
}

/* FOOTER */

footer{
    text-align: center;

    padding: 20px;

    background-color: #020617;
}